__pycache__/
*.py[cod]
*$py.class
.claude
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
CLAUDE.md
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST